---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design - About me">
		<h1>Canossini design</h1>
		<h2>work in progress</h2>
		<h3>About me...</h3>
</BaseLayout>