---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design - About me">
		<div class="md:text-l md: leading-loose lg:text-xl lg:leading-10 w-8/12 min-w-96 mx-auto">
			<p>Dopo un’esperienza quasi ventennale in grafica industriale, dove mi sono confrontato con importanti realtà del territorio emiliano ed ho avuto la possibilità di lavorare al recupero di importanti reperti documentali collaborando con alcune notorie biblioteche nazionali.</p>
			<br />
			<p>Nel 2021 ho deciso di iniziare una collaborazione con lo <span class="italic border-b-2 text-gray-800 border-blue-500">Studio di architettura e design Costantini</span> così da ampliare le mie conoscenze in materia di architettura ed edilizia.</p>
			<br />
			<p>Da qualche anno collaboro inoltre con <a class="italic border-b-2 hover:text-gray-800 border-blue-500" href="https://www.barbaraponti.com/" target="new">Barbara Ponti Garden Designer</a>, rinomata artista del verde, aiutandola col lavoro di grafica al computer.</p>
			<br />
			<p>Nutro da sempre una insaziabile passione per tutto ciò che è informatica e tecnologia, i motori ed i nostri amici pelosi a 4 zampe.</p>
		</div>
</BaseLayout>