---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design - Contatti">
	<div class="md:text-l md:leading-loose lg:text-xl lg:leading-10 w-8/12 min-w-96 mx-auto">
		
		Cristian Canossini Graphic Design<br />
		Via Calatafimi n. 25<br />
		Quattro Castella (RE)<br />
		Tel. 349 5385944<br />
		<a href="mailto:cristian.canossini@libero.it" class="text-gray-600 hover:text-gray-800 inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
            cristian.canossini@libero.it
        </a><br />
		<a href="mailto:cristian.canossini@pec.libero.it" class="text-gray-600 hover:text-gray-800 inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
            cristian.canossini@pec.libero.it (PEC)
        </a><br />
		<br />
		P.IVA 02970120354<br />
		Cod. Fisc. CNSCST82P10H223G<br />
	</div>
</BaseLayout>