---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Contatti">
	<div class="md:text-l md:leading-loose lg:text-xl lg:leading-10 w-8/12 min-w-96 mx-auto">
		<p>
			Cristian Canossini Graphic Design<br />
			Via Calatafimi n. 25<br />
			Quattro Castella (RE)<br />
			Tel. 349 5385944<br />
			<a href="mailto:cristian.canossini@libero.it" class="text-gray-600 hover:text-gray-800 inline-flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
				</svg>
				cristian.canossini@libero.it
			</a><br />
			<a href="mailto:cristian.canossini@pec.libero.it" class="text-gray-600 hover:text-gray-800 inline-flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
				</svg>
				cristian.canossini@pec.libero.it (PEC)
			</a><br />
			<br />
			P.IVA 02970120354<br />
			Cod. Fisc. CNSCST82P10H223G<br />
		</p>
	</div>
	<div class="md:text-l md:leading-loose lg:text-xl lg:leading-10 w-8/12 min-w-96 mx-auto text-center">
		<a class="border-b-2 hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6" href="https://docs.google.com/forms/d/e/1FAIpQLScunKMJst52Y_Mi45HW-nMcyJU__5PSCFS5H-ulB-_DjUUDBw/viewform?usp=sf_link" target="new">RICHIESTA INFORMAZIONI</a>
	</div>
	<div class="mx-auto">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.0946429041956!2d10.543391276606942!3d44.635982588315606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x44c325db3c57f52d%3A0xab73b7fe5c062c49!2sCristian%20Canossini%20Graphic%20Design!5e0!3m2!1sit!2sit!4v1690811591520!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</BaseLayout>