---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design">
	<div class="grid place-content-center py-3 space-y-3">
		<div>
			<p class="prose lg:prose-xxl text-center">
				Progettazione di loghi, impaginazioni grafiche, editing<br />
				<br />
				Elaborazione di tavole CAD e modellazione BIM<br />
				<br />
				Creazione grafica 3D e Rendering<br />
				<br />
				Sviluppo grafica per il mondo web e social<br />
				<br />
				Realizzazione mappe su base dati reali o fantasy <br/>
			</p>
		</div>
		<div>
			<img src="/img/grafica_front.png" alt="Elaborazioni Grafiche Canossini Design">
		</div>
	</div>
</BaseLayout>