---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="">
		<div class="mx-auto">
			<img src="/logo.png" alt="Logo Canossini Design">
		</div>
		<div>
			<p class="text-center text-xl leading-loose">
				Progettazione di loghi, impaginazioni grafiche, editing<br />
				Elaborazione di tavole CAD e modellazione BIM<br />
				Creazione grafica 3D e Rendering<br />
				Sviluppo grafica per il mondo web e social<br />
				Realizzazione mappe su basi dati reali o fantasy <br/>
			</p>
		</div>
		<div class="mx-auto">
			<img src="/img/grafica_front.png" alt="Elaborazioni Grafiche Canossini Design">
		</div>
</BaseLayout>