---

---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Canossini Design</title>
		<style>
			html, body {
    			height: 100%;
			}
			.main {
				height: 100%;
				width: 100%;
				display: table;
			}
			.wrapper {
				display: table-cell;
				height: 100%;
				vertical-align: middle;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="wrapper">
				<h1>Canossini Design</h1>
				<h2>work in progress</h2>
			</div>
		</div>
	</body>
</html>
