---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design - Portfolio">
		<h1>Canossini design</h1>
		<h2>work in progress</h2>
		<h3>Portfolio...</h3>
</BaseLayout>