---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Canossini design - Servizi">
		<h1>Canossini design</h1>
		<h2>work in progress</h2>
		<h3>Servizi...</h3>
</BaseLayout>