---

---
<footer>
    <p class="text-center text-gray-800 font-sans text-sm">
        Cristian Canossini graphic design<br />
        Via Calatafimi 25, Quattro Castella(RE) 42020<br />
        cristian.canossini@libero.it<br />
        cristian.canossini@pec.libero.it<br />
        P.IVA 02970120354<br />
        Cod. Fisc. CNSCST82P10H223G<br />
    </p>
</footer>